.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid var(--twitter-background);
	padding: 10px;
}

.post-body {
	margin-left: 10px;
	max-width: 550px;
}

.post-header-text {
	font-size: 15px;
	border-bottom: 10px;
}

h3 > span {
	color: gray;
	font-weight: 100;
}

.verification-badge {
	color: var(--twitter-color);
	font-size: 14px !important;
	margin: 0 5px;
}

.post-header-description {
	font-size: 15px;
	margin-bottom: 10px;
}

.post-body > img {
	border-radius: 20px;
	background-size: cover;
	cursor: pointer;
	max-width: 100%;
}
